@font-face {
  font-family: "iconfont"; /* Project id 4443901 */
  src: url('iconfont.woff2?t=1708909378961') format('woff2'),
       url('iconfont.woff?t=1708909378961') format('woff'),
       url('iconfont.ttf?t=1708909378961') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xianxing-_yonghu:before {
  content: "\e61c";
}

.icon-xianxing-_shouye:before {
  content: "\e620";
}

.icon-xianxing-_shouye-copy:before {
  content: "\e621";
}

.icon-xianxing-_yonghu-copy:before {
  content: "\e622";
}

